.idea
*.iml
.classpath
.project
.settings/
bin/
build/
target/
test-output/
dist/
galen-core/node/
galen-core/node_modules/
galen-core/coverage-report/
.release-notes
*.swp
config2
*.log
/galen.ipr
/galen.iws
/node/
/node_modules/
bin