* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 1em;
    font-family: helvetica;
    color: #555;
}

h1, h2, h3 {
    color: #111;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2em;
}

a {
    color: #1271C4;
}
.image {
    display: inline-block;
    position: relative;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px #999;
}
.image img {
}
.image .canvas {
    position: absolute;
    z-index: 10;
}
.image .canvas .brick {
    color: #00A4FC;
    position: absolute;
    display: block;
    opacity: 0.3;
    border-radius: 3px;
    box-shadow:inset 1px 1px 2px #000, 1px 1px 2px #000;
}
.image .canvas .brick:hover {
    opacity: 0.6;
}
.image .canvas .brick.selected {
    opacity: 0.9;
    color: #FC8200;
}
#tooltip-body .canvas .brick span{
    white-space: nowrap;
    color: white;
    position:absolute;
    padding: 3px;
    font-size: 0.8em;
    top: -22px;
    border-radius:5px;
}






