body {
    background: url('images/header-background.png');
}
.middle-wrapper {
    position: relative;
    max-width: 900px;
    margin: auto;
}
#menu {
    background: url("images/menu-background.png");
    margin: 0;
    color: white;
}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu ul:after {
    position: relative;
    display: block;
    content: " ";
    clear: both;
}
#menu li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#menu li a {
    display: block;
    margin: 0;
    padding: 3px 10px;
    position: relative;
    min-width: 100px;
    font-size: 1.2em;
    color: white;
    padding: 20px;
}
#menu li a:hover {
    background: url('images/menu-highlight.png');
}

#header {
    position: relative;
    color: white;
    min-height: 70px;
}

#header h1 {
    display: inline-block;
    position: relative;
    margin-left: 70px;
    text-shadow: 1px 1px 1px #000000;
}

#header img {
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 0px;
}


#middle {
    background: #fff;
}

#content {
    padding: 20px;
    min-height: 450px;
}
.error-message {
    color: red;
    margin: 20px;
}


#footer {
    background: #333;
    color: white;
}
#footer .middle-wrapper {
    min-height: 150px;
}
#footer .footer-signature {
    padding: 20px;
    text-align: right;
}

@media (min-width: 501px) {
    .dialog-panel {
        width: 400px;
        border: 1px solid #ccc;
        padding: 20px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 1px 3px 3px #ddd;
    }
}

@media (max-width: 500px) {
    .not-on-mobile {
        display: none;
    }
    button {
        width: 100%;
        margin-top: 10px;
    }
    #menu {
        width: 100%;
    }
    #menu li {
        width: 50%;
    }
    #menu li a {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .not-on-tablet {
        display: none;
    }
}

.btn-default {
    background: #f0f0f0;
    color: black;
}

.btn-primary {
    background: #2d6ca2;
}
.btn-primary:hover {
    background: #22A30B;
    color: #fff;
    border-color: #1A7509;
}
